// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.post-footer {
    // background-color: lightgrey;
    position: absolute; 
    bottom: 0; 
    width: 95%; 
    height: auto; 
    padding: 5px;
}

.show-only-one-line {
    height: 30px; 
    line-height: 30px; 
    overflow: hidden;
}

.show-only-two-lines {
    height: 40px; 
    line-height: 20px; 
    overflow: hidden;
}

.mp-0 {
    // margin: 0px !important;
    padding: 6px !important;
}